In [39]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [42]:
data = [670,240,90,100,58]
df = pd.DataFrame(data, columns=['area'])
df

   area
0   670
1   240
2    90
3   100
4    58

In [47]:
norm = preprocessing.MinMaxScaler().fit_transform(df)
norm

array([[1.        ],
       [0.29738562],
       [0.05228758],
       [0.06862745],
       [0.        ]])